Server Miner(Попова Ю.)/MinerClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server_Miner/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server_Miner/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_EnterName_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterName" />
  </wsdl:message>
  <wsdl:message name="IService1_EnterName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:NewGame" />
  </wsdl:message>
  <wsdl:message name="IService1_NewGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Click_InputMessage">
    <wsdl:part name="parameters" element="tns:Click" />
  </wsdl:message>
  <wsdl:message name="IService1_Click_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClickResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="IService1_Exit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExitResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="EnterName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EnterName" message="tns:IService1_EnterName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EnterNameResponse" message="tns:IService1_EnterName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewGame" message="tns:IService1_NewGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewGameResponse" message="tns:IService1_NewGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Click">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Click" message="tns:IService1_Click_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClickResponse" message="tns:IService1_Click_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Exit" message="tns:IService1_Exit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExitResponse" message="tns:IService1_Exit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnterName">
      <soap:operation soapAction="http://tempuri.org/IService1/EnterName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewGame">
      <soap:operation soapAction="http://tempuri.org/IService1/NewGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Click">
      <soap:operation soapAction="http://tempuri.org/IService1/Click" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <soap:operation soapAction="http://tempuri.org/IService1/Exit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server_Miner/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>